{% extends 'base.html' %}
{% load static %}

{% block title %}
    Kiểm tra mật khẩu
{% endblock %}

{% block extra_css %}
<style>
  body {
        background-image: url("{% static 'images/background.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;

        height: auto;  
        min-height: 100vh; 

        font-family: "Segoe UI", sans-serif; 
    }
    .password-box {
        background: #fff;
        padding: 40px 45px;
        border-radius: 18px;
        box-shadow: 0 8px 25px rgba(0,0,0,0.2);
        width: 400px;
        max-width: 90%;
    }

    .password-box h3 {
        text-align: center;
        color: #2d3436;
        margin-bottom: 25px;
        font-size: 22px;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    input[type="password"],
    input[type="text"] {
        width: 100%;
        padding: 10px 12px;
        border-radius: 8px;
        border: 1px solid #b2bec3;
        transition: border-color 0.3s;
        font-size: 15px;
    }

    input:focus {
        border-color: #0984e3;
        outline: none;
    }
    .btn-password-submit {
        background-color: #023257;
        color: white;
        border: none;
        padding: 10px;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 10px;
        width: 100%;
    }

    .btn-password-submit:hover {
        background-color: #74b9ff;
    }

    .alert {
        background-color: #ffe0e0;
        color: #d63031;
        border-left: 4px solid #d63031;
        padding: 10px 12px;
        margin-bottom: 20px;
        border-radius: 6px;
        font-size: 14px;
    }
    .btn-back {
    display: inline-block;    
    padding: 8px 16px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;       
    transition: background-color 0.3s, color 0.3s;
}

.btn-back:hover {
    background-color: #e0e0e0;
    color: #000;
}
</style>
{% endblock %}

{% block content %}
<div class="password-box">
    <h3>Kiểm tra mật khẩu</h3>

    {% if error %}
        <div class="alert">{{ error }}</div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" class="btn-password-submit">Xác nhận</button>
        <a href="{% url 'action_room:action_room_view' room.id %}" class="btn-back">
        Quay lại
    </a>
    </form>
    
</div>
{% endblock %}